<launch>

    <!-- RRT* Plan -->
    
    <node name="rrt_octomap" pkg="tyrion_octomap_global_planning" type="global_planning" respawn="false" output="screen">
        <!-- Bool is not loaded from .yaml, it is weird... -->
        <param name="enable_replan" type="bool" value="true"/>
        <rosparam command="load" file="$(find tyrion_octomap_global_planning)/config/rrt_start_global_planning_config.yaml" />
    </node>

    <!-- Moving Obs Trajectory-->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_moving_obs" ns="moving_obs" >
        <param name="/target_frame_name" value="odom" />
        <param name="/source_frame_name" value="Moving_Obs" />
        <param name="/trajectory_update_rate" value="10.0" />
        <param name="/trajectory_publish_rate" value="10.0" />
    </node>
</launch>
