<launch>

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="world_frame" default="odom"/> <!-- This should actually be "/world". See https://github.com/ros-simulation/gazebo_ros_pkgs/pull/324 -->
    <arg name="base_link_frame" default="base_link"/>

    <!-- RRT* Plan -->
    <rosparam command="load" file="$(find tyrion_octomap_global_planning)/config/rrt_start_global_planning_config_simulation.yaml" />
    <node name="rrt_octomap" pkg="tyrion_octomap_global_planning" type="global_planning" respawn="false" output="screen">
        <!-- Bool is not loaded from .yaml, it is weird... -->
        <param name="enable_replan" type="bool" value="true"/>
    </node>

    <!-- Moving Obs Trajectory-->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_moving_obs" ns="moving_obs" >
        <param name="/target_frame_name" value="odom" />
        <param name="/source_frame_name" value="Moving_Obs" />
        <param name="/trajectory_update_rate" value="10.0" />
        <param name="/trajectory_publish_rate" value="10.0" />
    </node>
</launch>
